.dark-theme {
  background: rgb(26, 25, 25);
  color: white;
  padding: 0 5vw;
}

.logo {
  width: 150px;
  height: 75px;
  background-size: cover;
}

.company-dark-btn {
  background-color: #ff6600;
  color: rgb(41, 40, 40);
  font-size: 30px;
  font-weight: bolder;
}

.form-body{
    background: #343A40;}

.company-primary-btn {
    background-color: #ff6600 !important;
    color: #fff !important;
    border: none !important;
}

.input-txt{
    color: #f5ebeb;
    background: #212529;
    border: none;
}
